<!DOCTYPE html>
<html>
<head>
  <title>Circ Policy Maintenance</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container">
    <section>
      <p>
      </p>

      <h1>Circulation Policy Maintenance</h1>
        <ul>
        <li><%= link_to "Item Types", url_for(action: 'index', controller: 'item_types') %></li>
        <li><%= link_to "Patron Groups", url_for(action: 'index', controller: 'patron_groups')%></li>
        <li><%= link_to "Circulation Policy Groups", url_for(action: 'index', controller: 'circ_policy_groups')%></li>
        <li><%= link_to "Circulation Policy Matrix", url_for(action: 'index', controller: 'circ_policy_matrices')%></li>
        </ul>
    </section>
  </div>
</body>
</html>
